body{
	background-color: #00ccff;
	 font-family: 'Roboto';font-size: 22px;
	 overflow-x: hidden;
}
.navbar{
	background: none;
	background-color: none;
}
.container-fluid{
	background-color: transparent;
}
.card{
	border: none;
}

.pskills{
	color: white;
}
.headerButtons{
	font-weight: 700;
	font-size: 20px;
	text-align: center;
	color: black;
	border: none;
	width:150px; 
	margin-right: 10px;
	text-decoration: none;
}
.dropDown{
	position: relative;
	display: inline-block;
	padding: 4px 8px 4px 8px;
}
.home{
	text-align: left;
	display: none;
	position: absolute;
}
li{
	text-decoration: none;
	list-style: none;
	text-align: center;
}
li:hover{
	padding: 8px 4px 8px 4px;
	background-color: grey;
	border-radius: 15px;
	
	
}
.dropDown:hover .home{
/*	background-color: red;*/
	display:block ;
	position: absolute;
/*	height: 100%;*/
}

.headerButtons:hover{
	background-color: #f535aa;
	border-radius: 10px;
	border: none;
	color: white;
	transition: .5s;
}
.pName{
	margin-top: 20%;
	font-size: 25px;
	font-weight: 700;
}
/*p{
	color: white;
}*/