body{
	background-color: black;
	 font-family: 'Roboto';font-size: 22px;
	 overflow-x: hidden;
}
.navbar{
	background: none;
	background-color: none;
}
.container-fluid{
	background-color: transparent;
}
.card{
	border: none;
}

.pskills{
	color: white;
}
.headerButtons{
	font-weight: 700;
	font-size: 20px;
	text-align: center;
	color: white;
	border: none;
	width:150px; 
	margin-right: 10px;
	text-decoration: none;
}
.dropDown{
	position: relative;
	display: inline-block;
}
.home{
	text-align: right;
	display: none;
	position: absolute;
}
li{
	text-decoration: none;
	list-style: none;
	text-align: center;
}
li:hover{
	background-color: grey;
}
.dropDown:hover .home{
/*	background-color: red;*/
	display:block ;
	position: absolute;
/*	height: 100%;*/
}

.headerButtons:hover{
	background-color: #f535aa;
	border-radius: 10px;
	border: none;
	color: white;
	transition: .5s;
}
.pName{
	margin-top: 20%;
	font-size: 25px;
	font-weight: 700;
}
.modal-open{
	background-color: pink;
	color: black;
	background-image:linear-gradient(pink,red) ;
}
.modal-header{
	color:black;
}
.modal-content{
	background-color: #7B7371;

	color: black;
}
@media only screen and (max-width:580px){
 	
    .checking{
        display: none;
    }
    .bootbox-body{
    	overflow: auto;
    }
 }
 .footer{
 	padding-top: 10px;
 	padding-bottom: 10px;
 	background-color: grey;
 }

/*Dynamic*/

/*p{
	color: white;
}*/